* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
  color: #ddd;
}

body.dark-mode table {
  background-color: #444;
  color: #fff;
}

header {
  background-color: #2e46b4;
  padding: 20px;
  color: white;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2,
h3 {
  font-size: 1.5rem;
  color: #3e6f8e;

}

h3 {
  color: #3e6f8e;
}

p,
h4 {
  font-size: 0.5rem;
  text-align: center;
  color: #fff;
}

.task-input,
.task-table-section,
.task-stats {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Task Input */
.task-input {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}

.task-input input,
.task-input select,
.task-input button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;

}

.task-input button {
  background-color: #5353b7;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-input button:hover {
  background-color: #5252e6;
}

/* Task Table Section */
#task-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#task-table th,
#task-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;

}

#task-table th {
  background-color: #5252e6;
  color: #fff;
}

.task-name[contenteditable="true"] {
  background-color: #f1f1f1;
}

#language-selector {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #de8338;
  color: #fff;
  cursor: pointer;
  margin: 5px;

}

button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
}

.complete-btn {
  background-color: #ff9800;
  transition: background-color 0.3s ease;
}

.complete-btn:hover {
  background-color: #5252e6;
}

.edit-btn {
  background-color: #4CAF50;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #4CAF50;
}

.save-btn {
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.save-btn:hover {
  background-color: #007bff;
}

.delete-btn {
  background-color: #f44336;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #f44336;
}

.completed {
  background-color: #d3d9ff;
  text-decoration: line-through;
}

/* Task Stats Section */
.task-stats {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #5252e6;
}

footer {
  background-color: #2e46b4;
  color: #eaeaea;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  background-color: #353030;
  color: #eaeaea;
}

body.dark-mode header {
  background-color: #333;
}

body.dark-mode #task-table th,
body.dark-mode #task-table td {
  background-color: #555;
  color: white;
}

body.dark-mode button {
  background-color: #555;
  color: white;
}

body.dark-mode .completed {
  background-color: #555;
}

body.dark-mode footer {
  background-color: #444;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  .task-input {
    flex-direction: column;
    align-items: center;
  }

  .task-input input,
  .task-input select,
  .task-input button {
    width: 100%;
    margin: 5px 0;

  }

  #task-table th,
  #task-table td {
    padding: 8px;
  }

  .task-stats {
    font-size: 0.9rem;
  }
}